input#account_password {
	box-shadow: inset 2px 0 0 #e2401c;
}

input#account_password.good {
	box-shadow: inset 2px 0 0 #ffa400;
}

input#account_password.strong {
	box-shadow: inset 2px 0 0 #0f834d;
}

#wc-pass-strength-result {
	display: none;
	color: #e2401c;
}

#wc-pass-strength-result.good {
	color: #ffa400;
}

#wc-pass-strength-result.strong {
	color: #0f834d;
}
